* {
	font-family: Verdana, Arial;
}

#body {
	background-color: #f1f1f1;
}

#top-navbar {
	margin-bottom: 0px;
}

#left-col, #right-col, #content {
	background-color: #fff;
}

#left-col {
	padding-top: 5px;
	border-right: 1px solid #e7e7e7;
}

#user-lists-small, #user-groups-small{
	margin-bottom: 0px;
}

#group-users td, #searched-users td {
	vertical-align: middle;
}